# # CHAPTER - 1         PRINT STATEMENT

In [1]:
print('Hello, World')

Hello, World

In [2]:
print("Hello, World")

Hello, World

# CHAPTER-2           VARIABLES FOR STRING

In [5]:
name = "Imran Khan"
name1 ='m.Imran Khan'
print(name1)

m.Imran Khan

In [3]:
f_name = 'Imran Khan'

In [4]:
new_name = 'Imran Khan'

In [6]:
name = 'Nawaz Shareef'

In [7]:
lesson_to_learn = 'Imran khan'
my_NAME_in_capital_letters = 'UNITED STATE AMERICA'

In [7]:
x , y , z = 'hello friends' , 'take tea' , 'to be honnest'
print(x," are ",y,z)

hello friends  are  take tea to be honnest

 # CHAPTER-3        VARIABLES FOR NUMBERS

In [12]:
age = 25

In [11]:
weight = '25'

In [10]:
mangoes = 10

In [13]:
mangoes + 10
mangoes_sum = mangoes +10
print(mangoes)
print(mangoes_sum)
mangoes

10
20

10

In [14]:
height = 25
width = 50
summation = height + width
print(height + width)

75

In [15]:
a = 10
b = 10.5
sum = a-b
print(sum)
print(type(a))
print(type(b))

b = a
print(b)
type(b)

-0.5
<class 'int'>
<class 'float'>
10

int

In [17]:
first_prime_num = 2
first_odd_num = '1'
take_sum = str(first_prime_num) + first_odd_num
print(take_sum)
type(take_sum)
print(take_sum + str(10))

21
2110

# # CHAPETR - 4 MATHS EXPRESSION - FAMILIAR OPERATORS

In [18]:
popular_number = 4

In [19]:
popular_number = 2 + 2 
popular_number

4

In [20]:
loss = 12 - 10
loss

2

In [21]:
doxens = 3 * 12
doxens

36

In [22]:
marks = 0
a = 1 
b = 0
marks = a/b
print(marks)
print(int(marks))

ZeroDivisionError: division by zero

In [8]:
url = 'http://github.com'
print(url)

http://github.com

In [16]:
age=1
#short form of age = age+1  
age=+1
age

1

In [18]:
a=3*4/2+2
a
type(a)

float

In [29]:
a=100
b="there are "
c=" students in a class"
a=str(a)
print(b+a+c)
type(a)

there are 100 students in a class

str

In [30]:
mangoes=10
apples=20
count=mangoes+apples
print(count ,"total apple and mangoes in backet" )

30 total apple and mangoes in backet

In [40]:
a=100
b=2
c="there are " +str(a)+" studen"
print(c)

there are 100 studen

In [48]:
species="dog"
print(species)
if species=="cat":
    print("its a cat")
    print("its a cat")
elif species=="dog":
    print("its a dog "+species)
elif species=="cow":
    print ("its a cow")

else:
    print("its not a cat")

dog
its a dog dog

# new chapter

In [55]:
ticket="not avaliable"
age=88
if ticket=="avaliable":
    if age>18:print("allow for movie")
else:
    print ("not allow")

not allow

In [59]:
nic="ha"
age=21
if nic=="ha":
    if age>18:
        print("allow for vote")
else:
    print("not allow for vote")

allow for vote